<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <div class="nav-dessus">
      {% if app.user %}
      <h3> Bienvenue <span>
      {{ app.user.pseudo }}
      
      </span></h3>
      <div class="contener-button">
        <a href="{{ path('profile') }}" class="button-nav"> <img src="{{asset('assets/images/user.png')}}" alt="user"></a>
        <a href="{{ path('article_create') }}" class="button-nav"><img src="{{asset('assets/images/edit.png')}}" alt="new"></a>
        <a href="{{ path('app_cart') }}" class="button-nav"> <img src="{{asset('assets/images/bag.png')}}" alt="panier"></a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      {% if app.user %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

      </button>

      {% endif %}
      <a href="{{ path('app_main') }}" class="button-nav"> <img src="{{asset('assets/images/home.png')}}" alt="home"></a>
    </div>

   
    <div>
      {% if app.user %}
      <a href="{{ path('app_logout') }}" class="login-logout">Logout</a>
      {% else %}
      <a href="{{ path('app_register') }}"  class="login-logout">Register</a>
      <a href="{{ path('app_login') }}"  class="login-logout">Login</a>
      {% endif %}
    </div>
  </div>
</nav>