{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="panier-cadre">
    <div>
        <div class="pro">
            <h5 class="card-title">{{ app.user.pseudo }}</h5>
            <h5 class="card-title">{{ app.user.email }}</h5>
            <p>{{ app.user.produits|length}} Produits</p>
        </div>
        <table class="table">
        <tbody>
            {% for produits in app.user.produits %}
            <tr>
                <td>{{ produits.nom }}</td>
                <td>{{ produits.prix }}</td>
                <td>
                <a href="{{ path('article_edit', {id: produits.id}) }}" class="button-nav"> <img
                        src="{{asset('assets/images/plus.png')}}" alt="user">
                </a>
                </td>
                {% endfor %}
            </tr>
        </tbody>
        </table>

    </div>
</div>
{% endblock %}