{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div class="pour-centrer">
    <div class="carre-detail">
        <div class="left">
            <div>
                <h5 class="card-title">{{ app.user.pseudo }}</h5>
                <h5 class="card-title">{{ app.user.email }}</h5>

                
            </div>
        </div>
        <div>

        <h2 class="text-center mx-auto m-3">Produit de {{ app.user.pseudo }} {{ app.user.produits|length}})</h2>
        <br>
        <br>
        <table class="table">
	
				{% for produits in app.user.produits %}
				<tr>
					<td>{{ produits.nom }}</td>
					<td>{{ produits.prix }}</td>
                    <a href="{{ path('article_edit', {id: produits.id}) }}" class="button-nav"> <img
								src="{{asset('assets/images/plus.png')}}" alt="user">
					</a>

				{% endfor %}
			</tbody>
			

		</table>
        </div>
        
    </div>
</div>
{% endblock %}
