{% extends 'base.html.twig' %}

{% block body %}
<div class="panier-cadre">
	<div>
		<h2>Mon panier</h2>
		{% if items %}
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix(€)</th>
					<th>Quantité(s)</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
				<tr>
					<td>{{ item.product.nom }}</td>
					<td>{{ item.product.prix }}</td>
					<td>
						<a href="{{ path('cart_add', {id: item.product.id}) }}" class="button-nav"> <img
								src="{{asset('assets/images/plus.png')}}" alt="user">
						</a>
						{{ item.quantity }}
						<a href="{{ path('cart_sub', {id: item.product.id}) }}" class="button-nav"> <img
								src="{{asset('assets/images/minus.png')}}" alt="user">
						</a>

					</td>
					<td>{{ item.product.prix * item.quantity }}€</td>
					<td>
						<a href="{{ path('cart_remove', {id: item.product.id}) }}" class="button-nav"> <img
								src="{{asset('assets/images/delete.png')}}" alt="user">
							<i class="fas fa-trash"></i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>

				<tr>
					<td colspan="3" class="text-end">Total :</td>
					<td>{{ total }}€ </td>
				</tr>

			</tfoot>

		</table>
		<a href="{{ path('cart_empty') }}" class="button-nav-panier"> <img src="{{asset('assets/images/trash.png')}}"
				alt="user">
		</a>
		<a href="{{ path('cart_paid') }}" class="ajouter">
			Payer
		</a>
		{% else %}
		<p class="vide">Mon panier est vide !</p>
		<p class="vide">Ajouter des articles pour le remplir !</p>
		{% endif %}
	</div>
</div>
{% endblock %}