{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div class="index-body">
        <h2 class="accueil">Accueil</h2>
        <div class="find">
            {{ form_start(formRecherche) }}

            {{ form_widget(formRecherche.recherche, {
	    attr: {
		placeholder: "Rechercher un article"
	        }
        }) }}
            <button type="submit">Rechercher</button>
            {{ form_end(formRecherche) }}
        </div>
        <h2 class="text-center my-3">Liste des produits</h2>
        <div class="row">
            {% for produits in produit |  sortByField('nom')%}
            <div class="card">
                <div class="imgg">
                    <img src="{{ produits.image }}" alt="Image du produit" class="card-img-top">
                </div>
                <div class="card-body">
                    <div class="titre-voir">
                        <h5>{{ produits.nom }}</h5>
                        <a href="{{ path('details', {id: produits.id}) }}" class="button-nav"> <img
                                src="{{asset('assets/images/zoom.png')}}" alt="panier"></a>
                    </div>
                    <h4> <span>Categorie : </span>{{ produits.categorie.titre }} </h4>
                    <h4><span>Description : </span>{{ produits.description | slice(0, 50) | raw }}...</h4>

                    <div class="prix-panier">
                        <p class="prixx">{{ produits.prix }} €</p>
                        {% if app.user %}
                        <a href="{{ path('cart_add', {id: produits.id}) }}" class="ajouter">Ajouter au
                            panier</a>
                        {% endif %}
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}