{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div class="index-body">
       
        <h2>Accueil</h2>

        
        <h2 class="text-center my-3">Liste des produits</h2>
        <div class="row">
            {% for produits in produit %}

            <div class="col-md-4">
                <div class="card mb-4">
                    <h3 class="card-header">{{ produits.nom }}</h3>
                    <img src="{{ produits.image }}" alt="Image du produit">
                    <div class="card body">
						{{ produits.description | slice(0, 50) | raw }}...
                        <p class="card-text text-end fw-bold">{{ produits.prix }} €</p>
                    </div>
					 {% if app.user %}	
					<div class="card-body text-end">
                        <a href="{{ path('cart_add', {id: produits.id}) }}"></a>
                        <a href="{{ path('cart_add', {id: produits.id}) }}" class="card-link btn btn-primary">Ajouter au
                            panier</a>
                    </div>
					{% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}