{% extends "base.html.twig" %}

{% block body %}
<div class="pour-centrer">
    <div class="carrer-noirr">
        <div class="register-login">
            <h2>
                {% if editMode %}
                Modification de l'article
                {% else %}
                Création d'un article
                {% endif %}
            </h2>

            {# {{ form(formArticle) }} #}
            {# form() permet d'afficher un formulaire #}
            {# symfony est capable de décider quel type de champ afficher en fonction du type de la propriété #}

            {{ form_start(formProduit) }}
            {# form_widget() permet de gérer un champ d'un formulaire #}
            {# form_row() permet de gérer un champ d'un formulaire et son label #}

            {{ form_row(formProduit.nom, {
    'label': "Titre", 
    'attr': {
        'placeholder': "Titre de l'article", 
    }
}) }}

            {{ form_row(formProduit.description, {
    'label': "Contenu",
    'attr': {
        'placeholder': "Contenu de l'article"
    }
}) }}

            {{ form_row(formProduit.prix, {
    'label': "Prix",
    'attr': {
        'placeholder': "Prix de l'article en"
    }
}) }}

            {{ form_row(formProduit.slug, {
    'label': formProduit.nom,
    'attr': {
        'placeholder': "Slug"
    }
}) }}

            {{ form_row(formProduit.image, {
    'label': formProduit.image,
    'attr': {
        'placeholder': "Placer l'URL d'une image"
    }
}) }}

            {{ form_row(formProduit.categorie, {
    label: "Catégorie"
}) }}



            <button type="submit"  class="ajouter">
                {% if editMode %}
                Enregistrer les modifications
                {% else %}
                Ajouter l'article
                {% endif %}
            </button>

            {{ form_end(formProduit) }}

            
        </div>
    </div>
</div>
{% endblock %}